<center>Ganesh Gadkari</center>

# <center><H1>ASSIGNMENT NO. 2</center></H1>

## 1. Difference between index and find method of list?

In Python, both index() and find() are methods used to search for elements within collections, but there are some key differences:

    1. index() Method (for lists and other sequences)
        Applies to: Lists, strings, tuples, etc.
        Function: Returns the index of the first occurrence of the specified element in the list.
        Usage: list.index(element)
        Error Handling: Raises a ValueError if the element is not found.
        Example:
        my_list = [1, 2, 3, 4, 2]
        print(my_list.index(2))  # Output: 1
        Use Case: Works specifically on Python list (and other sequence types like strings).

    2. find() Method (for strings only)
        Applies to: Strings.
        Function: Returns the index of the first occurrence of the specified substring.
        Usage: string.find(substring)
        Error Handling: Returns -1 if the substring is not found (instead of raising an error).
        Example:
        python
        Copy code
        my_string = "hello world"
        print(my_string.find("world"))  # Output: 6
        Use Case: Can only be used with strings, not lists.

    Key Differences:
    index() works with lists (and other sequences) and raises an error if the element is not found.
    find() works only with strings and returns -1 if the substring is not found, making it more forgiving in terms of error handling.

In [4]:
my_list = [1, 2, 3, 4, 2]
print(my_list.index(2))

1

In [7]:
my_string = "hello world"
print(my_string.find("world"))
print(my_string.index("world"))

6
6

## 2. Sort the list in descending order? What is the difference between sort and sorted method?

In [12]:
'''
Difference Between sort() and sorted():
    1. sort() Method
        Applies to: Lists only.
        In-place: Modifies the original list. No new list is created.
        Usage: list.sort()
        Return Value: Returns None. The original list is changed.
        Example:

        Sorting a List in Descending Order using sort():
'''

my_list = [3, 1, 4, 1, 5, 9]
print('Orignal list : ', my_list)

my_list.sort(reverse=True)
print('Sorted list : ', my_list)

Orignal list :  [3, 1, 4, 1, 5, 9]
Sorted list :  [9, 5, 4, 3, 1, 1]

In [13]:
'''
    2. sorted() Function
        Applies to: Any iterable (lists, tuples, strings, etc.).
        Creates a new list: Returns a new sorted list, leaving the original list unchanged.
        Usage: sorted(iterable)
        Return Value: Returns a new sorted list (copy of the original sorted).
        Example:
        Sorting a List in Descending Order using sorted():
'''

my_list = [3, 1, 4, 1, 5, 9]
print('Orignal list : ', my_list)

sorted_list = sorted(my_list, reverse=True)
print('Sorted list : ', sorted_list)

Orignal list :  [3, 1, 4, 1, 5, 9]
Sorted list :  [9, 5, 4, 3, 1, 1]

Key Differences:
    In-place vs. Copy: sort() sorts the list in place, modifying the original list, while sorted() returns a new sorted list, leaving the original one unchanged.<br>
    Usage: sort() can only be used with lists, whereas sorted() works with any iterable (e.g., lists, tuples, strings).

## 3. How to merge the two lists? Give me at least 3 ways?

In [18]:
# 1. Using the + Operator

list1 = [1, 2, 3]
list2 = [4, 5, 6]
merged_list = list1 + list2
print('list1 : ', list1)
print('list2 : ', list2)
print('merged_list : ', merged_list)

list1 :  [1, 2, 3]
list2 :  [4, 5, 6]
merged_list :  [1, 2, 3, 4, 5, 6]

In [24]:
# 2. Using the extend() Method

list1 = [1, 2, 3]
list2 = [4, 5, 6]

print('list1 : ', list1)
list1.extend(list2)

print('list2 : ', list2)
print('merged_list : ', list1)

list1 :  [1, 2, 3]
list2 :  [4, 5, 6]
merged_list :  [1, 2, 3, 4, 5, 6]

In [29]:
# 3. Using List Comprehension :

list1 = [1, 2, 3]
list2 = [4, 5, 6]
print('list1 : ', list1)
print('list2 : ', list2)

merged_list = [item for item in list1] + [item for item in list2]
print('merged_list : ', merged_list)

list1 :  [1, 2, 3]
list2 :  [4, 5, 6]
merged_list :  [1, 2, 3, 4, 5, 6]

In [28]:
# 4. Using Loop :

list1 = [1, 2, 3]
list2 = [4, 5, 6]
print('list1 : ', list1)
print('list2 : ', list2)

merged_list = []
for item in list1:
    merged_list.append(item)
for item in list2:
    merged_list.append(item)
print('merged_list : ', merged_list)

list1 :  [1, 2, 3]
list2 :  [4, 5, 6]
merged_list :  [1, 2, 3, 4, 5, 6]

In [30]:
# 5. Using the * Operator :

list1 = [1, 2, 3]
list2 = [4, 5, 6]
print('list1 : ', list1)
print('list2 : ', list2)

merged_list = [*list1, *list2]
print('merged_list : ', merged_list)

list1 :  [1, 2, 3]
list2 :  [4, 5, 6]
merged_list :  [1, 2, 3, 4, 5, 6]

## 4. Convert the list elements e.g fruits in uppercase letters.
    Note: Use for loop and list comprehension.
    Input: ['Banana','Kiwi','Apple', 'PineApple','Orange', 'Grapes']
    Output: ['BANANA', 'KIWI','APPLE', 'PINEAPPLE','ORANGE','GRAPES']

In [35]:
l=['Banana','Kiwi','Apple', 'PineApple','Orange', 'Grapes']
print('Orignal list : ', l)
print('Uppercase list : ', [i.upper() for i in l])    # List Comprehension

Orignal list :  ['Banana', 'Kiwi', 'Apple', 'PineApple', 'Orange', 'Grapes']
Uppercase list :  ['BANANA', 'KIWI', 'APPLE', 'PINEAPPLE', 'ORANGE', 'GRAPES']

## 5. Given a list, split it into two separate lists from the halfway point. If the list has an odd number of elements, include the middle element in the first list.
    Original_list=[1,2,3,4,5,6,7]
    Expected Output:
    Lst_first_half=[1,2,3,4]
    Lst_seconf_half=[5,6,7]

In [69]:
og_list=[1,2,3,4,5,6,7]
mid=round(len(og_list)/2)

Lst_first_half=og_list[:mid]
Lst_second_half=og_list[mid:]
print('Original_list : ', og_list)
print('Lst_first_half : ', Lst_first_half)
print('Lst_second_half : ', Lst_second_half)

Original_list :  [1, 2, 3, 4, 5, 6, 7]
Lst_first_half :  [1, 2, 3, 4]
Lst_second_half :  [5, 6, 7]

## 6. Given a list, rotate (or shuffle) its elements by nth positions to the left. After the shift, elements that are moved out from the beginning of the list should appear at the end.
    Original_list=['a','b','c','d','e']
    n=2
    Expected Output:
    Shuffled_list=['c','d','e','a','b']

In [49]:
l=['a','b','c','d','e']
n=2

print(l[n:]+l[:n])

['c', 'd', 'e', 'a', 'b']

## 7. Given a list, write a python program to create two lists: one with unique values and another with duplicate values.
    Original_list=[1,2,3,2,4,5,1]
    Expected Output:
    Unique_list=[3,4,5]
    Duplicate_list=[1,2,2,1]
    Note-Use list comprehension

In [13]:
og = [1,2,3,2,4,5,1]
unique=[]
duplicate=[]

for i in og:
    if og.count(i)>1 in list(set(og)):
        duplicate.append(i)
    else:
        unique.append(i)
        
print('Orignal list = ', og)
print('Unique list = ', unique)
print('Duplicate List = ', duplicate)

Orignal list =  [1, 2, 3, 2, 4, 5, 1]
Unique list =  [3, 4, 5]
Duplicate List =  [1, 2, 2, 1]

In [15]:
# Using List Comprehension

og = [1,2,3,2,4,5,1]
duplicate =[i for i in og if og.count(i)>1 in list(set(og))]
unique=[i for i in og if og.count(i)==1 in list(set(og))]
print('Orignal list = ', og)
print('Unique list = ', unique)
print('Duplicate List = ', duplicate)

Orignal list =  [1, 2, 3, 2, 4, 5, 1]
Unique list =  [3, 4, 5]
Duplicate List =  [1, 2, 2, 1]

## 8. Given a list, write a python program to create two lists: one with unique values and another with duplicate values.
    Original list=[1,2,3,2,4,5,1]
    Expected Output:
    Unique_list=[3,4,5]
    Duplicate_lis=[1,2]

In [17]:
og = [1,2,3,2,4,5,1]
unique=[]
duplicate=[]

for i in og:
    if og.count(i)>1 in list(set(og)):
        duplicate.append(i)
    else:
        unique.append(i)
        
print('Orignal list = ', og)
print('Unique list = ', unique)
print('Duplicate List = ', list(set(duplicate)))

Orignal list =  [1, 2, 3, 2, 4, 5, 1]
Unique list =  [3, 4, 5]
Duplicate List =  [1, 2]

In [18]:
# Using List Comprehension

og = [1,2,3,2,4,5,1]
duplicate =[i for i in og if og.count(i)>1 in list(set(og))]
unique=[i for i in og if og.count(i)==1 in list(set(og))]
print('Orignal list = ', og)
print('Unique list = ', unique)
print('Duplicate List = ', list(set(duplicate)))

Orignal list =  [1, 2, 3, 2, 4, 5, 1]
Unique list =  [3, 4, 5]
Duplicate List =  [1, 2]

## 9. Given a list of lists, write a python program to flatten it into a single list containing all the elements of the nested lists.
    Nested_list=[[1,2],[3,4],[5,6]]
    Expected Output=[1,2,3,4,5,6]

In [20]:
l1=[[1,2],[3,4],[5,6]]
l2=[]

for i in l1:
    for j in i:
        l2.append(j)

print('Nested_list = ', l1)
print('Expected = ',l2)

Nested_list =  [[1, 2], [3, 4], [5, 6]]
Expected =  [1, 2, 3, 4, 5, 6]

## 10. Given a list of integers, write a Python program to compute the sum of elements at even indices and odd indices separately.
    • list=[1, 2, 3, 4, 5]
    • Expected Output:Sum of even index elements: 1+3+5=9
    • Sum of odd index elements: 2 +4=6
    • Note: Use List comprehension.

In [32]:
l=[1, 2, 3, 4, 5]

even = 0
odd = 0

for i in l[::2]:
    even+=i
for i in l[1::2]:
    odd+=i
    
print('Sum of even index elements: ', even)
print('Sum of odd index elements: ', odd)

Sum of even index elements:  9
Sum of odd index elements:  6

In [2]:
# Using List Comprehension

l=[1, 2, 3, 4, 5]

even = sum([i for i in l[::2]])
odd = sum([i for i in l[1::2]])

print('Sum of even index elements: ', even)
print('Sum of odd index elements: ', odd)

Sum of even index elements:  9
Sum of odd index elements:  6

In [34]:
lst = [1, 2, 3, 4, 5]

even = sum([lst[i] for i in range(len(lst)) if i % 2 == 0])
odd = sum([lst[i] for i in range(len(lst)) if i % 2 != 0])

print(f"Sum of even index elements: {even}")
print(f"Sum of odd index elements: {odd}")

Sum of even index elements: 9
Sum of odd index elements: 6

## 11. You are developing a system to manage employee records where each employee's information is stored as a tuple with (employee_id, name, department, salary). Write a Python program to:
    • Add a new employee record to the list of tuples.
    • Remove an employee record by employee_id.
    • Update the salary for a specific employee_id.
    • Find and print the employee with the highest salary.
    • employees = [(101, 'Alice', 'HR', 50000), (102, 'Bob', 'IT', 60000), (103, 'Charlie', 'Finance', 70000)]

In [9]:
def main():
    employees = [(101, 'Alice', 'HR', 50000), (102, 'Bob', 'IT', 60000), (103, 'Charlie', 'Finance', 70000)]
    print('Original employee records list:\n', employees)
    add_record(employees, (104, 'Julie', 'Production', 80000))
    remove_record(employees, 104)
    update_record(employees, 103, 80000)
    find_highest_salary(employees)

# Add a new employee record to the list of tuples.
def add_record(employees, new_employee):
    employees.append(new_employee)
    print('After adding new employee record:\n', employees)

# Remove an employee record by employee_id.
def remove_record(employees, emp_id):
    for employee in employees:
        if employee[0] == emp_id:
            employees.remove(employee)
            break  # Exit the loop after removing the employee
    print('After removing employee record using employee_id:\n', employees)

# Update the salary for a specific employee_id.
def update_record(employees, emp_id, new_salary):
    for i, employee in enumerate(employees):  # enumerate() generates a pair of (index, element) for each item in the list.
        if employee[0] == emp_id:
            employees[i] = (employee[0], employee[1], employee[2], new_salary)
            break  # Exit the loop after updating the salary
    print('After updating the salary for a specific employee_id:\n', employees)

# Find and print the employee with the highest salary.
def find_highest_salary(employees):
    max_sal = 0
    for employee in employees:
        if employee[3] > max_sal:
            max_sal = employee[3]

    for employee in employees:
        if employee[3] == max_sal:
            print('Employee with the highest salary:', employee)

if __name__ == '__main__':
    main()

Original employee records list:
 [(101, 'Alice', 'HR', 50000), (102, 'Bob', 'IT', 60000), (103, 'Charlie', 'Finance', 70000)]
After adding new employee record:
 [(101, 'Alice', 'HR', 50000), (102, 'Bob', 'IT', 60000), (103, 'Charlie', 'Finance', 70000), (104, 'Julie', 'Production', 80000)]
After removing employee record using employee_id:
 [(101, 'Alice', 'HR', 50000), (102, 'Bob', 'IT', 60000), (103, 'Charlie', 'Finance', 70000)]
After updating the salary for a specific employee_id:
 [(101, 'Alice', 'HR', 50000), (102, 'Bob', 'IT', 60000), (103, 'Charlie', 'Finance', 80000)]
Employee with the highest salary: (103, 'Charlie', 'Finance', 80000)

## 12. Write a Python program to create a list containing numbers from 1 to 100 without using any Loop. Use appropriate list comprehensions or other python constructs to achieve this.
    Expected Output: [1,2,3,4,5,.....,100]

In [12]:
l=[i for i in range(101)]
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

## 13. Tuples are immutable in python. Given the tuple t=(10,20,30), how would you modify the second element to 25?

In [24]:
t=(10,20,30)
print('Actual tuple : ', t)
t=list(t)
t[1]=25
t=tuple(t)
print('Modified tuple : ', t)

Actual tuple :  (10, 20, 30)
Modified tuple :  (10, 25, 30)

## 14. How to create tuple with one value in it?

To create a tuple with only one value in it, you need to include a trailing comma after the value. This is necessary because, in Python, parentheses alone are not enough to indicate a tuple; they can simply be interpreted as grouping symbols.

In [30]:
# Creating a tuple with one value
single_value_tuple = (42,)  # Note the comma

# Print the tuple
print(single_value_tuple)
print(type(single_value_tuple))  # Check the type to confirm it's a tuple

(42,)
<class 'tuple'>

In [31]:
# Creating a tuple with one value
single_value_tuple = (42)  # Note the comma

# Print the tuple
print(single_value_tuple)
print(type(single_value_tuple))  # Check the type to confirm it's a tuple

42
<class 'int'>

## 15. Predict the output of below code
    t=10,20,30,40
    print(t[1000])

In Python, a tuple can be created without explicitly using parentheses. 
The syntax for creating a tuple can be either with parentheses or simply by separating values with commas.

In [35]:
t=10,20,30,40
print(t[1000])
'''Since the tuple 't' has only four elements (with valid indices ranging from 0 to 3), 
trying to access an index that is out of range (like 1000) will raise an IndexError.'''

IndexError: tuple index out of range

## 16. is below code execute successfully or will give you the error if it give you the error then which error it will give?

    t = (10, 20, 30, 40)
    print(t[1000])

In [2]:
t = (10, 20, 30, 40)
print(t[1000])
'''This code will give an error as IndexError: tuple index out of range,
As the tuple contains only 4 emements with index 0,1,2,3 and we are trying to access the 1000th element which is not present.'''

IndexError: tuple index out of range

## 17. You are given a list of tuples representing coordinates: coordinates = [(1, 2), (3, 4), (5, 6)] . Write a loop that unpacks the values in each tuple and prints them as x, y pairs.
    Expected Output
    x = 1, y = 2
    x = 3, Y = 4
    x = 5, y = 6

In [15]:
l=[(1, 2), (3, 4), (5, 6)]

for i,j in l:
    print(f'x = {i}, y = {j}')

x = 1, y = 2
x = 3, y = 4
x = 5, y = 6

## 18. In a program that requires frequent lookups but no modifications to the data, would you choose a tuple or a list? Why?

For frequent lookups with no data modification, a tuple is the better choice because of its immutability, performance, and memory efficiency.

## 19. Given a tuple t = (1, 2, 2, 3, 4, 4, 5) write code to remove the duplicates and return a new tuple with unique values.

In [19]:
t = (1, 2, 2, 3, 4, 4, 5)
print('Given Tuple : ',t)

new_t=set(t)
print('New tuple with Unique values : ', new_t)

Given Tuple :  (1, 2, 2, 3, 4, 4, 5)
New tuple with Unique values :  {1, 2, 3, 4, 5}

## 20. You have two tuples names = ('Alice', 'Bob') and ages = (25, 30). Write code to combine these tuples into a list of tuples like [(Alice, 25), (Bob, 30)]. Note use zip method

In [25]:
names = ('Alice', 'Bob')
ages = (25, 30)


print(list(zip(names,ages)))

[('Alice', 25), ('Bob', 30)]

## 21. You are given two sets A = \{1, 2, 3, 4\} and B = \{3, 4, 5, 6\} Write code to find:
    1. The union of A and B.
    2. The intersection of A and B.
    3. The difference between A and B.
    4. The difference between B and A.
    5. The difference between A and B. AND The difference between B and A
    Note use Operator (1, &, -) as well methods (intersection, union, difference)

In [34]:
def main():
    a = {1, 2, 3, 4}
    b = {3, 4, 5, 6}

    union(a,b)
    intersection(a,b)
    print('The difference between A and B is ', difference_ab(a,b))
    print('The difference between B and A is ', difference_ba(a,b))
    difference_ab_ba(a,b)

# 1. The union of A and B.
def union(a,b):
    print('The union of A and B is ', a.union(b))

# 2. The intersection of A and B.
def intersection(a,b):
    print('The intersection of A and B is ', a.intersection(b))

# 3. The difference between A and B.
def difference_ab(a,b):
    return a.difference(b)

# 4. The difference between B and A.
def difference_ba(a,b):
    return b.difference(a)

# 5. The difference between A and B. AND The difference between B and A
def difference_ab_ba(a,b):
    print('The difference between A and B is', difference_ab(a,b))
    print('The difference between B and A is', difference_ba(a,b))

if __name__=='__main__':
    main()

The union of A and B is  {1, 2, 3, 4, 5, 6}
The intersection of A and B is  {3, 4}
The difference between A and B is  {1, 2}
The difference between B and A is  {5, 6}
The difference between A and B is {1, 2}
The difference between B and A is {5, 6}

In [36]:
def main():
    A = {1, 2, 3, 4}
    B = {3, 4, 5, 6}

    # 1. The union of A and B.
    print('Union (using method):', A.union(B))  # Using method
    print('Union (using operator):', A | B)  # Using operator

    # 2. The intersection of A and B.
    print('Intersection (using method):', A.intersection(B))  # Using method
    print('Intersection (using operator):', A & B)  # Using operator

    # 3. The difference between A and B.
    print('Difference A - B (using method):', A.difference(B))  # Using method
    print('Difference A - B (using operator):', A - B)  # Using operator

    # 4. The difference between B and A.
    print('Difference B - A (using method):', B.difference(A))  # Using method
    print('Difference B - A (using operator):', B - A)  # Using operator

    # 5. The difference between A and B. AND The difference between B and A
    print('Difference A - B AND B - A:')
    print('A - B:', A - B)
    print('B - A:', B - A)


if __name__ == '__main__':
    main()

Union (using method): {1, 2, 3, 4, 5, 6}
Union (using operator): {1, 2, 3, 4, 5, 6}
Intersection (using method): {3, 4}
Intersection (using operator): {3, 4}
Difference A - B (using method): {1, 2}
Difference A - B (using operator): {1, 2}
Difference B - A (using method): {5, 6}
Difference B - A (using operator): {5, 6}
Difference A - B AND B - A:
A - B: {1, 2}
B - A: {5, 6}

## 22. Write a function that takes a string of words and returns a set of unique words. For example, the input "apple orange banana apple" should return "apple orange banana"

In [7]:
str1 = "apple orange banana apple"
new_str=' '.join(set(str1.split()))
print(new_str)
print(type(new_str))

apple orange banana
<class 'str'>

## 23. you are given two sets A = \{1, 2, 3\} and B = \{1, 2, 3, 4, 5\} Write code to check if:
    A is a subset of B.
    B is a subset of A.

In [17]:
a, b = {1, 2, 3},{1, 2, 3, 4, 5}

if a.issubset(b)==True:
    print('A={1, 2, 3} is a subset of B={1, 2, 3, 4, 5}')
else:
    print('A={1, 2, 3} is not subset of B={1, 2, 3, 4, 5}')
if b.issubset(a)==1:
    print('B={1, 2, 3, 4, 5} is a subset of A={1, 2, 3}')
else:
    print('B={1, 2, 3, 4, 5} is not subset of A={1, 2, 3}')

A={1, 2, 3} is a subset of B={1, 2, 3, 4, 5}
B={1, 2, 3, 4, 5} is not subset of A={1, 2, 3}

## 24. Given two sets A={1,2,3} and B={3,4,5} write code to find the symmetric difference (elements in either A or B but not both)
    - Expected Output
    - {1,2,4,5}

In [2]:
a={1,2,3}
b={3,4,5}

print(a.symmetric_difference(b))

{1, 2, 4, 5}

## 25. You have multiple sets A={1,2,3}, B={2,3,4}, and C={3,4,5} write a funcation to find the common elements (intersection) of all there sets.
Note -Use only one funcation only once

In [11]:
a={1,2,3}
b={2,3,4}
c={3,4,5}

print(set.intersection(a,b,c))

{3}

## 26.Given two lists lst1=[1,2,3] and lst2=[2,3,4] write code to merge them into a single list without duplicate.
Output: [1,2,3,4]

In [18]:
lst1=[1,2,3]
lst2=[2,3,4]

l = [set(lst1+lst2)]
print('Merged List = ', l)

Merged List =  [{1, 2, 3, 4}]

## 27. What is difference between remove and discard method?

In Python, both remove() and discard() are methods used to delete an element from a set, but they behave differently when the element is not found:

1. remove():
    - Removes the specified element from the set.
    - Raises a KeyError if the element is not found in the set.

In [22]:
# Example:

my_set = {1, 2, 3}
my_set.remove(2)  # Successfully removes 2
my_set.remove(4)  # Raises KeyError since 4 is not in the set

KeyError: 4

2. discard():
    - Also removes the specified element from the set.
    - Does not raise an error if the element is not found; it just does nothing.

In [24]:
# Example:

my_set = {1, 2, 3}
my_set.discard(2)  # Successfully removes 2
my_set.discard(4)  # Does nothing, no error raise
print(my_set)

{1, 3}

Summary:
    - Use remove() if you want to ensure the element is present and handle errors when it's missing.
    - Use discard() if you don't want to raise an error when the element is not found.

## 28. Explain the difference between set and frozenset, and give an example of when you would use a frozenset? Write a code to create one frozenset.

#### Difference between set and frozenset:

#### 1. set:

    - A set is mutable, meaning its elements can be added, removed, or changed after creation.
    - It does not allow duplicate elements.
    - Methods like add(), remove(), and discard() can modify a set.

#### 2. frozenset:

    - A frozenset is immutable, meaning once created, its elements cannot be changed (no additions or removals).
    - It also does not allow duplicate elements, just like a set.
    - Being immutable, a frozenset can be used as a key in a dictionary or stored in other sets (which require immutable elements).

##### When to use a frozenset:
    Use a frozenset when you need an unordered collection of unique elements, but you want to ensure that the collection cannot be modified. For example, you may use a frozenset to represent constant sets of configurations or keys in dictionaries.

In [26]:
# Creating a frozenset
my_frozenset = frozenset([1, 2, 3, 4, 5])

print(my_frozenset)

frozenset({1, 2, 3, 4, 5})

## 29. Given a sentence "apple orange apple banana orange apple", write code to count the occurrences of each word and store the result in a dictionary.
    Expected Output
    {'apple': 3, 'orange': 2, 'banana': 1}

In [40]:
str1 = "apple orange apple banana orange apple"

d = {i : str1.split().count(i) for i in str1.split()}
print(d)

{'apple': 3, 'orange': 2, 'banana': 1}

In [46]:
str1 = "apple orange apple banana orange apple"
l=str1.split()
d={}

for i in l:
    d[i]=l.count(i)

print(d)

{'apple': 3, 'orange': 2, 'banana': 1}

## 30. You are given a dictionary d = {'a': 1, 'b': 2, 'c': 3). Write code to invert this dictionary so that keys become values and values become keys.

In [77]:
d = {'a': 1, 'b': 2, 'c': 3}

c={value : key for key, value in d.items()}
print('Orignal_dictionary = ', d)
print('Inverted_dictionary = ', c)

Orignal_dictionary =  {'a': 1, 'b': 2, 'c': 3}
Inverted_dictionary =  {1: 'a', 2: 'b', 3: 'c'}

## 31. You have a dictionary scores = {'Alice': 90, 'Bob': 85, 'Charlie': 95). Write code to find the name of the student with the highest score.
    Expected Output:
    Charlie

In [89]:
scores = {'Alice': 90, 'Bob': 85, 'Charlie': 95}
max_score=max(scores.values())

for i in scores:
    if scores.get(i)==max_score:
        print(i)

Charlie

In [87]:
scores = {'Alice': 90, 'Bob': 85, 'Charlie': 95}
max_score=0

for i in scores:
    if scores.get(i)>max_score:
        max_score=scores.get(i)

for i in scores:
    if scores.get(i)==max_score:
        print(i)

Charlie